<ul id="post-list">
    {% for post in paginator.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}stycznia
                {% when '2' %}lutego
                {% when '3' %}marca
                {% when '4' %}kwietnia
                {% when '5' %}maja
                {% when '6' %}czerwca
                {% when '7' %}lipca
                {% when '8' %}sierpnia
                {% when '9' %}września
                {% when '10' %}października
                {% when '11' %}listopada
                {% when '12' %}grudnia
                {% endcase %}
                {{ post.date | date: "%Y" }}
                </aside></a>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}