<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href="{{ site.baseurl }}">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar@2x.png"/>
            </a>
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <ul class="social-links">
                <li><a href="https://linkedin.com/in/jalbrzym"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/jalbrzym"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://stackoverflow.com/users/2249422/martin"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a href="https://github.com/jalbrzym"><i class="fa fa-github"></i></a></li>
                <li><a href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
        </header>
    </section>
</div>