---
layout: default
archive: true
---
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">
            {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}stycznia
                {% when '2' %}lutego
                {% when '3' %}marca
                {% when '4' %}kwietnia
                {% when '5' %}maja
                {% when '6' %}czerwca
                {% when '7' %}lipca
                {% when '8' %}sierpnia
                {% when '9' %}września
                {% when '10' %}października
                {% when '11' %}listopada
                {% when '12' %}grudnia
                {% endcase %}
                {{ page.date | date: "%Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Komentarze</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



